*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
    background-color: #000;
    width: 100%;
    height: 100%;
}

.navbar{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #272727;
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 100%;
    height: 8vh;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.itens{
    cursor: pointer;
    color: #dfdfdf;
    margin-left: 2rem;
}

.itens:hover{
    color: #999999;
}

.clicked{
    color: #999999;
}

li i{
    margin-left: .5rem;
}

.dropdown{
    position: fixed;
    margin-left: 12vh;
    opacity: 0;
    width: 20vh;
    height: 20vh;
    background-color: #484848;
    z-index: 90;
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.5);
}

.actived{
    animation: dropDown 0.5s forwards;
    transition: all 0.5s ease-in-out ;
}

@keyframes dropDown{
    to{
        opacity: 1;
        margin-top: 70px;
    }
}

.list-menu{
    display: flex;
    flex-direction: column;
}

.itens-drop{
    cursor: pointer;
    text-align: center;
    color: #dfdfdf;
    margin: 2rem 1rem 0rem 1rem;
}

.itens-drop:hover{
  color: #272727;
}
